    <div class="container">

        <div class="content">

            <div class="sections">

                <div class="section one">

                    <div class="blocks" data-blocks="1">

                        <div class="block" data-block="1">

                            <div class="title">

                                <h1 class="one">Ibiza is calling.</h1>

                            </div>

                        </div>

                        <div class="block" data-block="2">

                            <div class="text">

                                <p>Duis aute irure dolor in officia reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sinte.</p>

                            </div>

                        </div>

                        <div class="block" data-block="3">

                            <div class="buttons">

                                <div class="button medium" data-button="1A" data-action="1">

                                    <a class="action" href="#">

                                        <div class="text">€100</div>

                                    </a>

                                </div>

                                <div class="button medium" data-button="1A" data-action="2">

                                    <a class="action" href="#">

                                        <div class="text">€100</div>

                                    </a>

                                </div>

                                <div class="button medium" data-button="1A" data-action="3">

                                    <a class="action" href="#">

                                        <div class="text">€100</div>

                                    </a>

                                </div>

                                <div class="button medium" data-button="1A" data-action="4">

                                    <a class="action" href="#">

                                        <div class="text">€100</div>

                                    </a>

                                </div>

                                <div class="button medium" data-button="1A" data-action="5">

                                    <a class="action" href="#">

                                        <div class="text">€100</div>

                                    </a>

                                </div>

                                <div class="button medium" data-button="1A" data-action="6">

                                    <a class="action" href="#">

                                        <div class="text">Capture</div>

                                    </a>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="section two">

                    <div class="blocks" data-blocks="1">

                        <div class="block" data-block="1">

                            <div class="images">

                                <div class="image" style="background-image: url('/assets/images/global/banners/banner-1.jpg')"></div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        

    </div>
