    <div class="container">

        <div class="content">

            <div class="blocks" data-blocks="1">

                <div class="block" data-block="1A">

                    <div class="title">

                        <h4 class="two">Navigation</h4>

                    </div>

                </div>

                <div class="block" data-block="1B">

                    <div class="list">

                        <ul>

                            <li data-link="bookings">

                                <a class="action" href="/account/bookings">Bookings</a>

                            </li>

                            <li data-link="profile">

                                <a class="action" href="/account/profile">Profile</a>

                            </li>

                            <li data-link="messages">

                                <a class="action" href="/account/messages">Messages</a>

                            </li>

                            <li data-link="login-security">

                                <a class="action" href="/account/login-security">Login & Security</a>

                            </li>

                            <li data-link="logout">

                                <a class="action" href="#">Logout</a>

                            </li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>
