<section class="announcements">

		<div class="container">

			<div class="content">

				<div class="sections">

					<div class="section">

						<div class="blocks" data-blocks="1">

							<div class="block" data-block="1">

								<div class="slider">

									<div class="slides">

										<div class="slide">

											<div class="blocks" data-blocks="2">

												<div class="block" data-block="1A">

													<div class="title">Welcome</div>

												</div>

												<div class="block" data-block="1B">

													<div class="text">Your adventure planned in three simple steps.</div>

												</div>

											</div>

										</div>

										<div class="slide">

											<div class="blocks" data-blocks="2">

												<div class="block" data-block="1A">

													<div class="title">Step 1<span>:</span> Explore</div>

												</div>

												<div class="block" data-block="1B">

													<div class="text">Search for unique activities at your destination.</div>

												</div>

											</div>

										</div>

										<div class="slide">

											<div class="blocks" data-blocks="2">

												<div class="block" data-block="1A">

													<div class="title">Step 2<span>:</span> Plan</div>

												</div>

												<div class="block" data-block="1B">

													<div class="text">Add experiences to your personal travel calendar.</div>

												</div>

											</div>

										</div>

										<div class="slide">

											<div class="blocks" data-blocks="2">

												<div class="block" data-block="1A">

													<div class="title">Step 3<span>:</span> Book & Share</div>

												</div>

												<div class="block" data-block="1B">

													<div class="text">Confirm your activities and share the plan.</div>

												</div>

											</div>

										</div>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</section>