<footer>

        <div class="container">

            <div class="content">

                <div class="sections">

                    <div class="section one">

                        <div class="blocks" data-blocks="1">

                            <div class="block" data-block="1">

                                <div class="blocks" data-blocks="2">

                                    <div class="block" data-block="1A">

                                        <div class="title">

                                            <h4 class="two">Destinations</h4>

                                        </div>

                                    </div>

                                    <div class="block" data-block="1B">

                                        <div class="links">

                                            <ul>

                                                <li>

                                                    <a href="#">Ibiza</a>

                                                </li>

                                                <li>

                                                    <a href="#">Barcelona</a>

                                                </li>

                                                <li>

                                                    <a href="#">Madrid</a>

                                                </li>

                                                <li>

                                                    <a href="#">Seville</a>

                                                </li>

                                            </ul>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="block" data-block="2">

                                <div class="blocks" data-blocks="3">

                                    <div class="block" data-block="2A">

                                        <div class="title">

                                            <h4 class="two">Account</h4>

                                        </div>

                                    </div>

                                    <div class="block" data-block="2B">

                                        <div class="links">

                                            <ul>

                                                <li>

                                                    <a href="#">Calendar</a>

                                                </li>

                                                <li>

                                                    <a href="#">Bookings</a>

                                                </li>

                                                <li>

                                                    <a href="#">Profile</a>

                                                </li>

                                                <li>

                                                    <a href="#">Login & Security</a>

                                                </li>

                                                <li>

                                                    <a href="#">Notifications</a>

                                                </li>

                                                <li>

                                                    <a href="#">Messages</a>

                                                </li>

                                            </ul>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="block" data-block="3">

                                <div class="blocks" data-blocks="4">

                                    <div class="block" data-block="3A">

                                        <div class="title">

                                            <h4 class="two">Help & Support</h4>

                                        </div>

                                    </div>

                                    <div class="block" data-block="3B">

                                        <div class="links">

                                            <ul>

                                                <li>

                                                    <a href="#">FAQs</a>

                                                </li>

                                                <li>

                                                    <a href="#">Contact</a>

                                                </li>

                                            </ul>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="block" data-block="4">

                                <div class="blocks" data-blocks="5">

                                    <div class="block" data-block="4A">

                                        <div class="title">

                                            <h4 class="two">Legal</h4>

                                        </div>

                                    </div>

                                    <div class="block" data-block="4B">

                                        <div class="links">

                                            <ul>

                                                <li>

                                                    <a href="#">Terms</a>

                                                </li>

                                                <li>

                                                    <a href="#">Privacy</a>

                                                </li>

                                            </ul>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="block" data-block="5">

                                <div class="blocks" data-blocks="6">

                                    <div class="block" data-block="5A">

                                        <div class="title">

                                            <h4 class="two">Connect</h4>

                                        </div>

                                    </div>

                                    <div class="block" data-block="5B">

                                        <div class="blocks" data-blocks="7">

                                            <div class="block" data-block="5BA">

                                                <div class="text">

                                                    <p class="small six">Lorem ipsum dolor sit amet consectetur pretium. Quisque faucibus sapien vitae pellentesque sem placerat pretium.</p>

                                                </div>

                                            </div>

                                            <div class="block" data-block="5BB">

                                                <form class="form">

                                                    <div class="fields">

                                                        <div class="fieldset">

                                                            <div class="blocks" data-blocks="8">

                                                                <div class="block" data-block="5BBA">

                                                                    <div class="input alt">

                                                                        <input type="text" name="email" autocapitalize="none" required>

                                                                        <label>Email Address</label>

                                                                    </div>

                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="buttons">

                                                        <div class="button medium alt" data-button="1A">

                                                            <div class="action">

                                                                <div class="text">Sign Up</div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </form>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="block" data-block="6">

                                <div class="socials">

                                    <div class="buttons">

                                        <div class="button circle" data-button="2A">

                                            <a class="action" href="#" target="_blank">

                                                <div class="icon">

                                                    <i class="fa-facebook fab"></i>

                                                </div>

                                            </a>

                                        </div>

                                        <div class="button circle" data-button="2A">

                                            <a class="action" href="#" target="_blank">

                                                <div class="icon">

                                                    <i class="fa-instagram fab"></i>

                                                </div>

                                            </a>

                                        </div>

                                        <div class="button circle" data-button="2A">

                                            <a class="action" href="#" target="_blank">

                                                <div class="icon">

                                                    <i class="fa-youtube fab"></i>

                                                </div>

                                            </a>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="section two">

                        <div class="blocks" data-blocks="1">

                            <div class="block" data-block="1">

                                <div class="legal">

                                    <div class="text">

                                        <p class="small six">

                                            <span>Journi</span>
                                            <span>Carrer de Carles III, 4, 07800 Eivissa, Illes Balears, Spain</span>

                                        </p>

                                    </div>

                                </div>

                            </div>

                            <div class="block" data-block="2">

                                <div class="copyright">

                                    <p class="small six">Journi &copy; 2025</p>

                                </div>

                            </div>

                        </div>

                    </div>

                    

                </div>

            </div>

        </div>

    </footer>

    <section class="overlay">

    </section>