<header>

	<div class="container">

		<div class="content">

			<div class="sections">

				<div class="section one">

					<div class="blocks" data-blocks="1">

						<div class="block" data-block="1">

							<div class="logo">

								<div class="image">

									<a href="/">

										<img src="/assets/images/global/logo/logo.png">

									</a>

								</div>

							</div>

						</div>

					</div>

				</div>

				<div class="section two">

					<div class="blocks" data-blocks="1">

						<div class="block" data-block="1">

							<div class="view">

								<div class="links">

									<ul>

										<li data-link="view" class="active">

											<div class="text">View As</div>

										</li>

										<li class="active" data-link="list">

											<div class="icon">

												<i class="icons8 icons8-index"></i>

											</div>

											<div class="text">List</div>

										</li>

										<li data-link="calendar">

											<div class="icon">

												<i class="icons8 icons8-schedule"></i>

											</div>

											<div class="text">Calendar</div>

										</li>

									</ul>

								</div>

							</div>

						</div>

					</div>

				</div>

				<div class="section three">

					<div class="blocks" data-blocks="1">

						<div class="block" data-block="1">

							<div class="icons">

								<div class="icon one" data-icon="1">

									<div class="lines">

										<div class="line"></div>
										<div class="line"></div>

									</div>

								</div>

								<div class="icon two" data-icon="2">

									<div class="action">

										<div class="number">1</div>

										<div class="icon">

											<i class="icons8 icons8-bag"></i>

										</div>

									</div>

								</div>

								<div class="icon three" data-icon="3">

									<div class="action">

										<div class="number">1</div>

										<div class="icon">

											<i class="icons8 icons8-megaphone"></i>

										</div>

									</div>

								</div>

								<div class="icon four" data-icon="4">

									<a href="#" class="action">

										<div class="icon">

											<i class="icons8 icons8-account"></i>

										</div>

									</a>

								</div>

								<div class="icon five" data-icon="5">

									<a href="#" class="action">

										<div class="icon">

											<i class="icons8 icons8-heart"></i>

										</div>

									</a>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</header>
