<section class="menu" data-menu="3">
	<div class="container">
		<div class="content">
			<div class="sections">
				<div class="section one">
					<div class="blocks" data-blocks="1">
						<div class="block" data-block="1">
							<div class="close">
								<div class="button circle" data-button="2A">
									<div class="action">
										<div class="icon">
											<i class="icons8 icons8-less-than"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="block" data-block="2">
							<div class="title">
								<h2 class="four">Menu</h2>
							</div>
						</div>
					</div>
				</div>

				<div class="section two">
					<div class="blocks" data-blocks="1">
						<div class="block" data-block="1">
							<div class="slider">
								<div class="slides">
									<div class="slide">
										<div class="blocks" data-blocks="2">
											<div class="block" data-block="2B">
												<div class="links">
													<ul>
														<li data-link="1" data-label="Ibiza">
															<div class="blocks" data-blocks="3">
																<div class="block" data-block="2BA">
																	<a href="#" data-action="2">Ibiza</a>
																</div>
																<div class="block" data-block="2BB">
																	<ul>
																		<li data-link="2" data-label="Experiences">
																			<a data-action="1">Experiences</a>
																		</li>
																		<li data-link="2" data-label="Stays">
																			<a href="#" data-action="2">Stays</a>
																		</li>
																		<li data-link="2" data-label="Cars">
																			<a href="#" data-action="2">Cars</a>
																		</li>
																	</ul>
																</div>
															</div>
														</li>
														<li data-link="1" data-label="Madrid">
															<a href="#" data-action="0">Madrid</a>
														</li>
														<li data-link="1" data-label="Barcelona">
															<a href="#" data-action="0">Barcelona</a>
														</li>
														<li data-link="1" data-label="Seville">
															<a href="#" data-action="0">Seville</a>
														</li>
														<li data-link="1" data-label="Palma">
															<a href="#" data-action="0">Palma</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<div class="slide">
										<div class="blocks" data-blocks="2">
											<div class="block" data-block="2A">
												<div class="close">
													<div class="button circle" data-button="3A">
														<div class="action">
															<div class="icon">
																<i class="icons8 icons8-less-than"></i>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="block" data-block="2B">
												<div class="links">
													<ul>
														<li>
															<a href="#" data-action="2">Featured</a>
														</li>
														<li>
															<a href="#" data-action="2">Sightseeing</a>
														</li>
														<li>
															<a href="#" data-action="2">Wellness</a>
														</li>
														<li>
															<a href="#" data-action="2">Art & Culture</a>
														</li>
														<li>
															<a href="#" data-action="2">Entertainment</a>
														</li>
														<li>
															<a href="#" data-action="2">Food & Drink</a>
														</li>
														<li>
															<a href="#" data-action="2">Sports</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="block" data-block="2">
							<div class="links">
								<ul>
									<li>
										<a href="#">Account</a>
									</li>
									<li>
										<a href="/resources/faqs">FAQs</a>
									</li>
									<li>
										<a href="/resources/contact">Contact</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="overlay"></div>
	</div>
</section>

