<div data-blocks="5" class="blocks">
<div data-block="2CA" class="block">
<div data-blocks="6" class="blocks">
<div data-block="2CAA" class="block">
<div class="close">
<div data-button="2A" class="button circle">
<div class="action">
<div class="icon">
<i class="icons8 icons8-less-than"></i>
</div>
</div>
</div>
</div>
</div>
<div data-block="2CAB" class="block">
<div class="title">
<h3 class="six">Dates</h3>
</div>
</div>
</div>
</div>
<div data-block="2CB" class="block">
<div data-blocks="7" class="blocks">
<div data-block="2CBA" class="block">
<div class="buttons">
<div data-button="3A" class="button circle one" @click="navigateDates('previous')" v-if="canNavigatePreviousDates">
<div class="action">
<div class="icon">
<i class="icons8 icons8-less-than"></i>
</div>
</div>
</div>
<div data-button="3A" class="button circle two" @click="navigateDates('next')">
<div class="action">
<div class="icon">
<i class="icons8 icons8-more-than"></i>
</div>
</div>
</div>
</div>
</div>
<div data-block="2CBB" class="block">
<div class="dates">
<div data-blocks="7" class="blocks">
<div data-block="2CCA" v-for="month in months" :key="month.monthIndex + '-' + month.year" :attr="month.monthName" class="block">
<div class="month">
<div class="name">
<div class="text">{{ month.monthName + ' ' + month.year }}</div>
</div>
<div class="days">
<ul class="one">
<li><span>M</span></li>
<li><span>T</span></li>
<li><span>W</span></li>
<li><span>T</span></li>
<li><span>F</span></li>
<li><span>S</span></li>
<li><span>S</span></li>
</ul>
<ul class="two">
<template v-for="(week, i) in month.weeks">
<template v-for="day in week">
<li v-if="i == 0 && parseInt( day.day ) > 7" class="alt"><span></span></li>
<li v-else @click="selectDay(day)" :class="setDayClass(day.date)">
<span v-if="day">{{ day.day }}</span>
</li>
</template>
</template>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
