<div class="container">

    <div class="content">

        <div class="sections">

            <div class="section one">

                <div class="blocks" data-blocks="1">

                    <div class="block" data-block="1">

                        <div class="close">

                            <div class="button circle" data-button="2A">

                                <div class="action">

                                    <div class="icon">

                                        <i class="icons8 icons8-less-than"></i>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="block" data-block="2">

                        <div class="blocks" data-blocks="2">

                            <div class="block" data-block="2A">

                                <div class="title">

                                    <h2 class="four">Filters</h2>

                                </div>

                            </div>

                            <div class="block" data-block="2B">

                                <div class="buttons">

                                    <div class="button text" data-button="3A">

                                        <div class="action">

                                            <div class="text">Reset Filters</div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="section two">

                <div class="blocks" data-blocks="1">

                    <div class="block" data-block="1B">

                        <div class="blocks" data-blocks="2">

                            <div class="block" data-block="1BA">

                                <div class="terms">

                                    <div class="blocks" data-blocks="3">

                                        <div class="block" data-block="1BAA">

                                            <div class="list">

                                                <ul>

                                                    <li>

                                                        <div class="blocks" data-blocks="4">

                                                            <div class="block" data-block="1BAAA">

                                                                <div class="text">English</div>

                                                            </div>

                                                            <div class="block" data-block="1BAAB">

                                                                <div class="icon">

                                                                    <i class="icons8 icons8-close"></i>

                                                                </div>

                                                            </div>

                                                        </div>

                                                    </li>

                                                </ul>

                                            </div>

                                        </div>

                                        <div class="block" data-block="1BAB">

                                            <div class="buttons">

                                                <div class="button text" data-button="3A">

                                                    <div class="action">

                                                        <div class="text">Reset Filters</div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="block" data-block="1BB">

                                <div class="taxonomies">

                                    <div class="blocks" data-blocks="5">

                                        <div class="block alt" data-block="1BBA">

                                            <div class="taxonomy">

                                                <div class="blocks" data-blocks="6">

                                                    <div class="block" data-block="1BBAA">

                                                        <h3 class="four">Filter By Type</h3>

                                                    </div>

                                                    <div class="block" data-block="1BBAB">

                                                        <ul>

                                                            <li aria-label="Featured">

                                                                <div class="action">

                                                                    <div class="blocks" data-blocks="7">

                                                                        <div class="block" data-block="1BBABA">

                                                                            <div class="icons">

                                                                                <div class="icon" data-icon="1">

                                                                                    <i class="icons8 icons8-stars"></i>

                                                                                </div>

                                                                                <div class="icon" data-icon="2">

                                                                                    <i class="icons8 icons8-sparkling"></i>

                                                                                </div>

                                                                            </div>

                                                                        </div>

                                                                        <div class="block" data-block="1BBABB">

                                                                            <div class="text">Featured</div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </li>

                                                            <li aria-label="Sightseeing">

                                                                <div class="action">

                                                                    <div class="blocks" data-blocks="7">

                                                                        <div class="block" data-block="1BBABA">

                                                                            <div class="icons">

                                                                                <div class="icon" data-icon="1">

                                                                                    <i class="icons8 icons8-yacht"></i>

                                                                                </div>

                                                                                <div class="icon" data-icon="2">

                                                                                    <i class="icons8 icons8-yacht-2"></i>

                                                                                </div>

                                                                            </div>

                                                                        </div>

                                                                        <div class="block" data-block="1BBABB">

                                                                            <div class="text">Sightseeing</div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </li>

                                                            <li aria-label="Wellness">

                                                                <div class="action">

                                                                    <div class="blocks" data-blocks="7">

                                                                        <div class="block" data-block="1BBABA">

                                                                            <div class="icons">

                                                                                <div class="icon" data-icon="1">

                                                                                    <i class="icons8 icons8-lotus"></i>

                                                                                </div>

                                                                                <div class="icon" data-icon="2">

                                                                                    <i class="icons8 icons8-lotus-2"></i>

                                                                                </div>

                                                                            </div>

                                                                        </div>

                                                                        <div class="block" data-block="1BBABB">

                                                                            <div class="text">Wellness</div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </li>

                                                            <li aria-label="Art &amp; Culture">

                                                                <div class="action">

                                                                    <div class="blocks" data-blocks="7">

                                                                        <div class="block" data-block="1BBABA">

                                                                            <div class="icons">

                                                                                <div class="icon" data-icon="1">

                                                                                    <i class="icons8 icons8-collectibles"></i>

                                                                                </div>

                                                                                <div class="icon" data-icon="2">

                                                                                    <i class="icons8 icons8-collectibles-2"></i>

                                                                                </div>

                                                                            </div>

                                                                        </div>

                                                                        <div class="block" data-block="1BBABB">

                                                                            <div class="text">Art &amp; Culture</div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </li>

                                                            <li aria-label="Entertainment">

                                                                <div class="action">

                                                                    <div class="blocks" data-blocks="7">

                                                                        <div class="block" data-block="1BBABA">

                                                                            <div class="icons">

                                                                                <div class="icon" data-icon="1">

                                                                                    <i class="icons8 icons8-entertainment"></i>

                                                                                </div>

                                                                                <div class="icon" data-icon="2">

                                                                                    <i class="icons8 icons8-theatre-mask"></i>

                                                                                </div>

                                                                            </div>

                                                                        </div>

                                                                        <div class="block" data-block="1BBABB">

                                                                            <div class="text">Entertainment</div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </li>

                                                            <li aria-label="Food &amp; Drink">

                                                                <div class="action">

                                                                    <div class="blocks" data-blocks="7">

                                                                        <div class="block" data-block="1BBABA">

                                                                            <div class="icons">

                                                                                <div class="icon" data-icon="1">

                                                                                    <i class="icons8 icons8-champagne"></i>

                                                                                </div>

                                                                                <div class="icon" data-icon="2">

                                                                                    <i class="icons8 icons8-champagne-2"></i>

                                                                                </div>

                                                                            </div>

                                                                        </div>

                                                                        <div class="block" data-block="1BBABB">

                                                                            <div class="text">Food &amp; Drink</div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </li>

                                                            <li aria-label="Sports">

                                                                <div class="action">

                                                                    <div class="blocks" data-blocks="7">

                                                                        <div class="block" data-block="1BBABA">

                                                                            <div class="icons">

                                                                                <div class="icon" data-icon="1">

                                                                                    <i class="icons8 icons8-tennis-ball"></i>

                                                                                </div>

                                                                                <div class="icon" data-icon="2">

                                                                                    <i class="icons8 icons8-tennis-ball-2"></i>

                                                                                </div>

                                                                            </div>

                                                                        </div>

                                                                        <div class="block" data-block="1BBABB">

                                                                            <div class="text">Sports</div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </li>

                                                        </ul>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="block" data-block="1BBA">

                                            <div class="taxonomy">

                                                <div class="blocks" data-blocks="6">

                                                    <div class="block" data-block="1BBAA">

                                                        <h3 class="four">Filter By Time</h3>

                                                    </div>

                                                    <div class="block" data-block="1BBAB">

                                                        <ul>

                                                            <li aria-label="Morning">

                                                                <div class="action">

                                                                    <div class="blocks" data-blocks="7">

                                                                        <div class="block" data-block="1BBABB">

                                                                            <div class="text">Morning</div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </li>

                                                            <li aria-label="Afternoon">

                                                                <div class="action">

                                                                    <div class="blocks" data-blocks="7">

                                                                        <div class="block" data-block="1BBABB">

                                                                            <div class="text">Afternoon</div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </li>

                                                            <li aria-label="Evening">

                                                                <div class="action">

                                                                    <div class="blocks" data-blocks="7">

                                                                        <div class="block" data-block="1BBABB">

                                                                            <div class="text">Evening</div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </li>

                                                        </ul>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="block alt" data-block="1BBA">

                                            <div class="taxonomy">

                                                <div class="blocks" data-blocks="6">

                                                    <div class="block" data-block="1BBAA">

                                                        <h3 class="four">Filter By Language</h3>

                                                    </div>

                                                    <div class="block" data-block="1BBAB">

                                                        <ul>

                                                            <li class="active" aria-label="English">

                                                                <div class="action">

                                                                    <div class="blocks" data-blocks="7">

                                                                        <div class="block" data-block="1BBABA">

                                                                            <div class="icons">

                                                                                <div class="icon">

                                                                                    <img src="http://185.65.239.219/plesk-site-preview/journi.to/https/185.65.239.219/assets/images/global/languages/english.png" width="100%">

                                                                                </div>

                                                                            </div>

                                                                        </div>

                                                                        <div class="block" data-block="1BBABB">

                                                                            <div class="text">English</div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </li>

                                                            <li aria-label="Spanish">

                                                                <div class="action">

                                                                    <div class="blocks" data-blocks="7">

                                                                        <div class="block" data-block="1BBABA">

                                                                            <div class="icons">

                                                                                <div class="icon">

                                                                                    <img src="http://185.65.239.219/plesk-site-preview/journi.to/https/185.65.239.219/assets/images/global/languages/spanish.png" width="100%">

                                                                                </div>

                                                                            </div>

                                                                        </div>

                                                                        <div class="block" data-block="1BBABB">

                                                                            <div class="text">Spanish</div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </li>

                                                            <li aria-label="German">

                                                                <div class="action">

                                                                    <div class="blocks" data-blocks="7">

                                                                        <div class="block" data-block="1BBABA">

                                                                            <div class="icons">

                                                                                <div class="icon">

                                                                                    <img src="http://185.65.239.219/plesk-site-preview/journi.to/https/185.65.239.219/assets/images/global/languages/german.png" width="100%">

                                                                                </div>

                                                                            </div>

                                                                        </div>

                                                                        <div class="block" data-block="1BBABB">

                                                                            <div class="text">German</div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </li>

                                                            <li aria-label="French">

                                                                <div class="action">

                                                                    <div class="blocks" data-blocks="7">

                                                                        <div class="block" data-block="1BBABA">

                                                                            <div class="icons">

                                                                                <div class="icon">

                                                                                    <img src="http://185.65.239.219/plesk-site-preview/journi.to/https/185.65.239.219/assets/images/global/languages/french.png" width="100%">

                                                                                </div>

                                                                            </div>

                                                                        </div>

                                                                        <div class="block" data-block="1BBABB">

                                                                            <div class="text">French</div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </li>

                                                            <li aria-label="Italian">

                                                                <div class="action">

                                                                    <div class="blocks" data-blocks="7">

                                                                        <div class="block" data-block="1BBABA">

                                                                            <div class="icons">

                                                                                <div class="icon">

                                                                                    <img src="http://185.65.239.219/plesk-site-preview/journi.to/https/185.65.239.219/assets/images/global/languages/italian.png" width="100%">

                                                                                </div>

                                                                            </div>

                                                                        </div>

                                                                        <div class="block" data-block="1BBABB">

                                                                            <div class="text">Italian</div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </li>

                                                            <li aria-label="Portuguese">

                                                                <div class="action">

                                                                    <div class="blocks" data-blocks="7">

                                                                        <div class="block" data-block="1BBABA">

                                                                            <div class="icons">

                                                                                <div class="icon">

                                                                                    <img src="http://185.65.239.219/plesk-site-preview/journi.to/https/185.65.239.219/assets/images/global/languages/portuguese.png" width="100%">

                                                                                </div>

                                                                            </div>

                                                                        </div>

                                                                        <div class="block" data-block="1BBABB">

                                                                            <div class="text">Portuguese</div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </li>

                                                        </ul>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="section three">

                <div class="blocks" data-blocks="1">

                    <div class="block" data-block="1">

                        <div class="close">

                            <div class="button medium" data-button="1A">

                                <div class="action">

                                    <div class="text">Show Results</div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="overlay"></div>

</div>