.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .buttons {
    float: left;
    top: 0;
    transform: none;
    -webkit-transform: none;
    width: 100%;
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .buttons .button.circle.one {
    float: left;
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .buttons .button.circle.two {
    float: right;
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .buttons .button.circle .icon {
    font-size: 14px;
    line-height: 14px;
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates {
    float: left;
    width: 100%;
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks {
    display: flex;
    float: left;
    justify-content: center;
    width: 100%;
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block {
    float: left;
    left: auto;
    margin: 0 22px 0 0;
    position: relative;
    top: auto;
    transform: none;
    -webkit-transform: none;
    width: calc(50% - 14px);
    z-index: 10;
}

@media screen and (max-width: 900px) {
    .search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block {
        margin: 0 0 25px;
        width: 100%;
    }
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block:last-child {
    margin: 0;
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month {
    float: left;
    width: 100%;
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates.active .content .blocks .month {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .name {
    float: left;
    margin: 0 0 27px;
    position: relative;
    width: 100%;
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .name .text {
    font-size: 0.825em;
    font-weight: 400;
    letter-spacing: -0.0075em;
    line-height: 40px;
    margin: 0 40px;
    position: relative;
    text-align: center;
    width: calc(100% - 80px);
    z-index: 10;
}

@media screen and (max-width: 1025px) {
    .search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .name .text {
        font-size: 0.875em;
        margin: 0;
        width: 100%;
    }
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days {
    float: left;
    position: relative;
    width: 100%;
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days ul {
    float: left;
    padding: 0;
    width: 100%;
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days ul.one {
    margin: 0 0 25px;
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days ul.one li {
    cursor: default;
    float: left;
    list-style: none;
    position: relative;
    text-align: center;
    width: 14.2857%;
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days ul.one li span {
    font-size: 0.7625em;
    line-height: 1em;
}

@media screen and (max-width: 1025px) {
    .search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days ul.one li span {
        font-size: 13px;
        -moz-text-stroke-width: 0.05px;
        -webkit-text-stroke-width: 0.05px;
    }
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days ul.two li {
    border-radius: 50%;
    cursor: pointer;
    float: left;
    list-style: none;
    padding: 0 0 14.2857%;
    position: relative;
    text-align: center;
    width: 14.2857%;
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days ul.two li.alt {
    opacity: 0.375;
    pointer-events: none;
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days ul.two li:before {
    background: #101820;
    border-radius: 50%;
    content: '';
    height: 87.5%;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    width: 87.5%;
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days ul.two li:hover:before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days ul.two li.active:before,
.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days ul.two li.active.alt:before {
    background: #101820;
    border-radius: 50%;
    content: '';
    height: 100%;
    left: 50%;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    width: calc(100% + 1px);
}

@media screen and (max-width: 1025px) {
    .search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days ul.two li.active:before,
    .search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days ul.two li.active.alt:before {
        display: block;
    }
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days ul.two li.alt:before {
    display: none;
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days ul.two li span {
    font-size: 0.7625em;
    font-weight: 400;
    left: 50%;
    letter-spacing: -0.005em;
    line-height: 1em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 100%;
    z-index: 10;
}

@media screen and (max-width: 1025px) {
    .search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days ul.two li span {
        font-size: 13px;
        -moz-text-stroke-width: 0.05px;
        -webkit-text-stroke-width: 0.05px;
    }
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days ul.two li:hover span {
    color: #FFFFFF;
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days ul.two li.active span {
    color: #FFFFFF;
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days ul.two li.start:before {
    border-radius: 50% 0 0 50%;
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days ul.two li.end:before {
    border-radius: 0 50% 50% 0;
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days ul.two li.active.alt {
    opacity: 1;
    pointer-events: auto;
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days ul.two li.active.alt:before {
    background: #F7F7F8;
    border-radius: 0;
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
}

.search .content .sections .section.two .blocks .block .form .blocks .block .modals .modal .blocks .block .dates .blocks .block .month .days ul.two li.active.alt span {
    color: #101820;
}
