[data-time='1'] {
    top: 0;
}

[data-time='2'] {
    top: 38px;
}

[data-time='3'] {
    top: 76px;
}

[data-time='4'] {
    top: 114px;
}

[data-time='5'] {
    top: 152px;
}

[data-time='6'] {
    top: 190px;
}

[data-time='7'] {
    top: 228px;
}

[data-time='8'] {
    top: 266px;
}

[data-time='9'] {
    top: 304px;
}

[data-time='10'] {
    top: 342px;
}

[data-time='11'] {
    top: 380px;
}

[data-time='12'] {
    top: 418px;
}

[data-time='13'] {
    top: 456px;
}

[data-time='14'] {
    top: 494px;
}

[data-time='15'] {
    top: 532px;
}

[data-duration='1'] {
    height: 27px;
}

[data-duration='2'] {
    height: 65px;
}

[data-duration='3'] {
    height: 103px;
}

[data-duration='4'] {
    height: 141px;
}

[data-duration='5'] {
    height: 179px;
}

[data-duration='6'] {
    height: 217px;
}

[data-duration='7'] {
    height: 255px;
}

[data-duration='8'] {
    height: 293px;
}

[data-duration='9'] {
    height: 331px;
}

[data-duration='10'] {
    height: 369px;
}

[data-duration='11'] {
    height: 407px;
}

[data-duration='12'] {
    height: 445px;
}

[data-duration='13'] {
    height: 483px;
}

[data-duration='14'] {
    height: 521px;
}

[data-duration='15'] {
    height: 559px;
}
