@font-face {
    font-family: 'icons';
    src: url('../fonts/icons.eot');
    src: url('../fonts/icons.eot') format('embedded-opentype'),
         url('../fonts/icons.woff2') format('woff2'),
         url('../fonts/icons.woff') format('woff'),
         url('../fonts/icons.ttf') format('truetype'),
         url('../fonts/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'icons';
        src: url('../fonts/icons.svg#icons') format('svg');
    }
}

[data-icons8]:before {
    content: attr(data-icons8);
}

.icons8 {
    display: inline-block;
    font-family: 'icons';
    font-style: normal;
    font-weight: 400;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.icons8-collapse-arrow:before {
    content: '\f100';
}

.icons8-expand-arrow:before {
    content: '\f101';
}

.icons8-more-than:before {
    content: '\f102';
}

.icons8-less-than:before {
    content: '\f103';
}

.icons8-index:before {
    content: '\f104';
}

.icons8-schedule:before {
    content: '\f105';
}

.icons8-calendar:before {
    content: '\f107';
}

.icons8-guardian:before {
    content: '\f108';
}

.icons8-megaphone:before {
    content: '\f109';
}

.icons8-account:before {
    content: '\f10a';
}

.icons8-heart:before {
    content: '\f10b';
}

.icons8-heart-2:before {
    content: '\f10c';
}

.icons8-search:before {
    content: '\f10d';
}

.icons8-stars:before {
    content: '\f10e';
}

.icons8-sparkling:before {
    content: '\f10f';
}

.icons8-yacht:before {
    content: '\f110';
}

.icons8-yacht-2:before {
    content: '\f111';
}

.icons8-lotus:before {
    content: '\f112';
}

.icons8-lotus-2:before {
    content: '\f113';
}

.icons8-collectibles:before {
    content: '\f114';
}

.icons8-collectibles-2:before {
    content: '\f115';
}

.icons8-entertainment:before {
    content: '\f116';
}

.icons8-theatre-mask:before {
    content: '\f117';
}

.icons8-champagne:before {
    content: '\f118';
}

.icons8-champagne-2:before {
    content: '\f119';
}

.icons8-tennis-ball:before {
    content: '\f11a';
}

.icons8-tennis-ball-2:before {
    content: '\f11b';
}

.icons8-filter:before {
    content: '\f11c';
}

.icons8-star:before {
    content: '\f11d';
}

.icons8-star-2:before {
    content: '\f11e';
}

.icons8-bag:before {
    content: '\f120';
}

.icons8-back-and-forth:before {
    content: '\f121';
}

.icons8-loading:before {
    content: '\f122';
}

.icons8-photo:before {
    content: '\f123';
}

.icons8-check-mark:before {
    content: '\f124';
}

.icons8-map-pinpoint:before {
    content: '\f125';
}

.icons8-chat:before {
    content: '\f126';
}

.icons8-pass:before {
    content: '\f127';
}

.icons8-protection:before {
    content: '\f128';
}

.icons8-protect:before {
    content: '\f129';
}

.icons8-location:before {
    content: '\f12a';
}

.icons8-location-2:before {
    content: '\f12b';
}

.icons8-spaghetti:before {
    content: '\f12c';
}

.icons8-spaghetti-2:before {
    content: '\f12d';
}

.icons8-drink:before {
    content: '\f12e';
}

.icons8-wine-bar:before {
    content: '\f12f';
}

.icons8-backpack:before {
    content: '\f130';
}

.icons8-school-backpack:before {
    content: '\f131';
}

.icons8-inspection:before {
    content: '\f132';
}

.icons8-inspection-2:before {
    content: '\f133';
}

.icons8-jump:before {
    content: '\f134';
}

.icons8-cancel:before {
    content: '\f135';
}

.icons8-cancel-2:before {
    content: '\f136';
}

.icons8-delete:before {
    content: '\f137';
}

.icons8-schedule-2:before {
    content: '\f138';
}

.icons8-check-mark-2:before {
    content: '\f139';
}

.icons8-map-pinpoint-2:before {
    content: '\f13a';
}

.icons8-chat-message:before {
    content: '\f13b';
}

.icons8-pass-2:before {
    content: '\f13c';
}

.icons8-eye:before {
    content: '\f13d';
}

.icons8-eye-2:before {
    content: '\f13e';
}

.icons8-checkbox:before {
    content: '\f13f';
}

.icons8-checked-checkbox:before {
    content: '\f140';
}

.icons8-plus:before {
    content: '\f141';
}

.icons8-close:before {
    content: '\f142';
}
