    <div class="container">

        <div class="content">

            <div class="sections">

                <div class="section one">

                    <div class="blocks" data-blocks="1">

                        <div class="block" data-block="1">

                            <div class="title">

                                <h2 class="one">Hire one of our favourite cars for your trip to Ibiza.</h2>

                            </div>

                        </div>

                        <div class="block" data-block="2">

                            <div class="text">

                                <p>Enim ad minim veniam quis ex ea nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat.</p>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="section two">

                    <div class="blocks" data-blocks="1">

                        <div class="block" data-block="1">

                            <div class="slider">

                                <div class="navigation">

                                    <div class="buttons">

                                        <div class="button circle border one">

                                            <div class="action">

                                                <div class="icon">

                                                    <i class="icons8 icons8-less-than"></i>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="button circle border two">

                                            <div class="action">

                                                <div class="icon">

                                                    <i class="icons8 icons8-more-than"></i>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="slides">

                                    <div class="slide">

                                        <div class="car">

                                            <div class="blocks" data-blocks="2">

                                                <div class="block" data-block="1A">

                                                    <div class="banner">

                                                        <a href="#">

                                                            <div class="images">

                                                                <div class="image" style="background-image: url('/assets/images/cars/car-1a.jpg')"></div>

                                                            </div>

                                                        </a>

                                                    </div>

                                                </div>

                                                <div class="block" data-block="1B">

                                                    <a href="#">

                                                        <div class="title">

                                                            <h3 class="four">

                                                                <span class="one">Volkswagen Golf</span>
                                                                <span class="two">Compact</span>

                                                            </h3>

                                                        </div>

                                                    </a>

                                                </div>

                                                <div class="block" data-block="1C">

                                                    <div class="blocks" data-blocks="3">

                                                        <div class="block" data-block="1CA">

                                                            <div class="price">

                                                                <div class="text">From €25</div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="slide">

                                        <div class="car">

                                            <div class="blocks" data-blocks="2">

                                                <div class="block" data-block="1A">

                                                    <div class="banner">

                                                        <a href="#">

                                                            <div class="images">

                                                                <div class="image" style="background-image: url('/assets/images/cars/car-2a.jpg')"></div>

                                                            </div>

                                                        </a>

                                                    </div>

                                                </div>

                                                <div class="block" data-block="1B">

                                                    <a href="#">

                                                        <div class="title">

                                                            <h3 class="four">

                                                                <span class="one">Range Rover Velar</span>
                                                                <span class="two">Luxury SUV</span>

                                                            </h3>

                                                        </div>

                                                    </a>

                                                </div>

                                                <div class="block" data-block="1C">

                                                    <div class="blocks" data-blocks="3">

                                                        <div class="block" data-block="1CA">

                                                            <div class="price">

                                                                <div class="text">From €100</div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="slide">

                                        <div class="car">

                                            <div class="blocks" data-blocks="2">

                                                <div class="block" data-block="1A">

                                                    <div class="banner">

                                                        <a href="#">

                                                            <div class="images">

                                                                <div class="image" style="background-image: url('/assets/images/cars/car-3a.jpg')"></div>

                                                            </div>

                                                        </a>

                                                    </div>

                                                </div>

                                                <div class="block" data-block="1B">

                                                    <a href="#">

                                                        <div class="title">

                                                            <h3 class="four">

                                                                <span class="one">BMW Z4</span>
                                                                <span class="two">Sport</span>

                                                            </h3>

                                                        </div>

                                                    </a>

                                                </div>

                                                <div class="block" data-block="1C">

                                                    <div class="blocks" data-blocks="3">

                                                        <div class="block" data-block="1CA">

                                                            <div class="price">

                                                                <div class="text">From €100</div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="slide">

                                        <div class="car">

                                            <div class="blocks" data-blocks="2">

                                                <div class="block" data-block="1A">

                                                    <div class="banner">

                                                        <a href="#">

                                                            <div class="images">

                                                                <div class="image" style="background-image: url('/assets/images/cars/car-1a.jpg')"></div>

                                                            </div>

                                                        </a>

                                                    </div>

                                                </div>

                                                <div class="block" data-block="1B">

                                                    <a href="#">

                                                        <div class="title">

                                                            <h3 class="four">

                                                                <span class="one">Volkswagen Golf</span>
                                                                <span class="two">Compact</span>

                                                            </h3>

                                                        </div>

                                                    </a>

                                                </div>

                                                <div class="block" data-block="1C">

                                                    <div class="blocks" data-blocks="3">

                                                        <div class="block" data-block="1CA">

                                                            <div class="price">

                                                                <div class="text">From €25</div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
